body {
  margin: 0;
  padding: 0; }

header .navbar {
  background-color: #f7f5f5;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px solid; }
  header .navbar .navbar-header a {
    /*  font-family: 'Slabo 27px', serif;
     font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Pacifico', cursive;
    /* font-family: 'Roboto Mono', monospace;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Francois One', sans-serif; */
    font-size: 28px;
    margin-top: 2px;
    color: #a72323; }
    header .navbar .navbar-header a a:hover {
      color: #fff; }
  header .navbar .navbar-nav {
    font-size: 18px;
    margin-top: 1%; }

.linia {
  height: 2px;
  width: 100%;
  background-color: white; }

.img_fondo {
  background-image: url(../img/77642_85e2_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 101%; }

#my_section .my_class {
  background-color: rgba(0, 0, 0, 0.5);
  height: 650px;
  width: 100%; }
  #my_section .my_class .text {
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    margin-top: 30%;
    color: #fff; }
  #my_section .my_class .buton {
    margin-top: 8%;
    padding: 20px 30px;
    background-color: #0AA9B2;
    border: solid #0AA9B2;
    border-radius: 20px;
    font-size: 20px; }
    #my_section .my_class .buton .buton {
      color: #fff;
      transition: .2s ease; }
      #my_section .my_class .buton .buton .buton:hover {
        background-color: transparent;
        color: #000000;
        border: 1px solid #000000;
        transition: .2s ease; }

#section_sobre_mi {
  background-color: #FF908D;
  height: 600px;
  width: 100%; }
  #section_sobre_mi .titulo {
    margin-top: 5%;
    color: #fff;
    font-size: 20px;
    font-family: 'Francois One', sans-serif; }
  #section_sobre_mi .text_sobre_mi {
    margin-top: 3%; }
    #section_sobre_mi .text_sobre_mi h4 {
      color: #000000;
      font-size: 30px; }
    #section_sobre_mi .text_sobre_mi p {
      font-family: 'PT Sans Caption', sans-serif;
      /* font-family: 'Merriweather Sans', sans-serif; */
      font-size: 15px;
      color: #fff; }
  #section_sobre_mi .carousel {
    margin-top: 10%; }

#section_habilidades {
  background-color: antiquewhite; }
  #section_habilidades .images_hb h1 {
    color: #a72323;
    font-size: 40px;
    font-family: 'Francois One', sans-serif; }

#section_proyectos {
  background-color: #f89b60;
  height: 590px;
  width: 100%; }
  #section_proyectos .my_text {
    color: #a72323;
    font-size: 45px;
    font-family: 'Francois One', sans-serif;
    margin-top: 1%; }
  #section_proyectos .my_imagenes img {
    margin-top: 10px; }
  #section_proyectos .my_imagenes #espacio {
    perspective: 1000px;
    perspective-origin: 50% 50%; }
  #section_proyectos .my_imagenes #hexa, #section_proyectos .my_imagenes #hexa .cara {
    width: 400px;
    height: 300px; }
  #section_proyectos .my_imagenes #hexa {
    transform-style: preserve-3d;
    transform-origin: 50% 50% -300px;
    animation: girar 25s infinite linear running; }
  #section_proyectos .my_imagenes #hexa:hover {
    animation-play-state: paused; }
  #section_proyectos .my_imagenes #hexa .cara {
    position: absolute;
    border: 0;
    opacity: 1;
    box-shadow: 0 0 10px #000; }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(1) {
    background-image: url(../img/Opera%20Snapshot_2017-11-24_102250_luisa124.github.io.png);
    background-repeat: no-repeat;
    background-size: cover; }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(2) {
    background-image: url(../img/tea-lovers.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 100% 0%;
    transform: translateX(-407px) rotateY(-60deg); }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(3) {
    background-image: url(../img/netflixf.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 0% 0%;
    transform: translateX(407px) rotateY(60deg); }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(4) {
    background-image: url(../img/Opera%20Snapshot_2017-11-24_121019_luisa124.github.io.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-700px) rotateY(180deg); }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(5) {
    background-image: url(../img/panda-panda.png);
    transform-origin: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-700px) translateX(-400px) rotateY(240deg) translateX(405px); }
  #section_proyectos .my_imagenes #hexa .cara:nth-child(6) {
    background-image: url(../img/Opera%20Snapshot_2017-11-24_123127_luisa124.github.io.png);
    transform-origin: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-700px) translateX(400px) rotateY(120deg) translateX(-405px); }
@keyframes girar {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
  #section_proyectos .my_imagenes .cara > div {
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center;
    font-size: 2.2vw; }

#section_contacto {
  background-color: #585858;
  height: 500px;
  width: 100%; }
  #section_contacto .contact p {
    color: white;
    font-size: 18px;
    font-weight: bold; }
  #section_contacto .contact address {
    color: white;
    font-size: 18px;
    text-align: center; }

#footer {
  background-color: #000000;
  height: 100px;
  width: 100%; }
  #footer p {
    color: #fff;
    font-size: 18px; }

/*# sourceMappingURL=main.css.map */
