$black: #000000;


body {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 100;
    position: fixed;
    margin: 0;
    border: 0;
}
.linia {
    height: 2px;
    width: 100%;
    background-color: white;
}
.img_fondo {
        background: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s224fc11c65cbc592/image/if98254786d31b25d/version/1500231290/image.gif);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
    }
#my_section {
    .my_class {
        background-color: rgba(242, 242, 242, 0.58);
        color: $black;
        height: 650px;
        width: 101%;
        .text {
            animation: bounceInLeft;
            font-size: 40px;
            font-family: 'Rozha One', serif;
            margin-top: 30%;
        }
        .buton {
            margin-top: 8%;
            padding: 20px 30px;
            background: transparent;
            border:solid #0AA9B2;
            border-radius: 20px;
            font-size: 20px;
        }
    }
}


.navbar-default {
    background-color: #c64a14;
    height: 64px;
    width: 100%;
    .navbar-collapse {
        ul {
            li {
                a {
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 2%;
                    color: white;
                    font-size: 15px;
                }
            }
        }
    }
}

.img_fondo {                                                                                 
        p {
            margin-top: 4%;
            font-size: 15px;
            color: white;
        }
    #myCarousel{
        margin-top: 15%;
    }
}

/* -------------SECTION-------------SOBRE--------------MI-------------- */
#section_sobre_mi {
    background-color: #f89b60;
    height: 590px;
    width: 100%;
    .titulo {
        color: black;
    }
    .text_sobre_mi {
        margin-top: 3%;
        h4 {
            color: black;
            font-size: 30px;
        }
        p{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 15px;
            color: white;
        }
    }
    .carousel{
        margin-top: 10%;
    }
}

// -------------SECTION--------MIS-------HABILIDADES---------ESTILO//
#section_habilidades {
    background-color: antiquewhite;
   /*  height: 590px;
    width: 100%; */
    /* .images_hb {
        margin-top: 4%;
    }
    img_1 {
        margin-top: 8%;
    } */
}

/* --------------SECTION-----------MIS------------PROYECTOS----------------- */
#section_proyectos {
    background-color: #f89b60;
    height: 590px;
    width: 100%;
    .my_imagenes {
        img {
            margin-top: 10px;
        }
    }
}


// --------------SECTION----------DE--------MIS-----------CONTACTOS-
#section_contacto {
    background-color: $black;
    height: 500px;
    width: 100%;
    .contact {
        p{ 
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
        address{
            color: white;
            font-size: 18px;
            text-align: center;
        }
    }
     
}


// CONTACTO --------- DEL ----------- FOOTER-
footer {
    background-color: darkgray;
    p{ 
        color: white;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
    .container{
        background-color: white;
        width: 100%;
        height: auto;
    }
    #endLink-heading a:hover{
        text-decoration: none;
        background-color: gray;
    }
}



